.feed-post {
	margin: 1rem;
	color: #555;
}

.feed-post .post-title {
	color: #000;
	text-decoration: none;
}

.feed-post .username {
	color: inherit;
}

.feed-post .post-link {
	margin-left: 1rem;
	color: inherit;
}
